.jumbotron {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--url-img) !important;
    transition: background-image 0.3s ease-in-out;
    margin-bottom: 90px !important;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.text-none:hover {
    text-decoration: none !important;
}

@media (max-width: 1200px) {
    .display-3 {
        font-size: calc(1.575rem + 3.9vw);
    }
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

@media (min-width: 576px) {
    .jumbotron {
    }
}
.text-decoration:hover{
    text-decoration: underline !important;
}

.img-service{
    object-fit: contain;
    object-position: top;
}

.service-foto{
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
}